
h1 {
    text-align: center;
    color: #7da2a9 !important;
    }

h2 {
    text-align: center;
    color: #7da2a9 !important;
}


#compareBTN {
    margin-left: 25%;
    margin-right: 25%;
    padding: 7px;
}

iframe {
    height: 500px;
    width: 1200px;
}
#iYelp, 
#iGoogle {
    text-align: center;
}

.hero-body {
    background-color: #f7f7f7 !important;
}