html, body {
    font-family: 'Source Sans Pro', sans-serif, 'Open Sans Condensed', sans-serif;
}
h1 {
    -webkit-text-stroke: 0.1px black;
    text-align: center;
    color: #7da2a9 !important;
    letter-spacing: 2px;
}

#compareBTN {
    margin-left: 25%;
    margin-right: 25%;
    padding: 7px;
    background-color: #d32323;
    color: #f7f7f7;
}

#iYelp, #iGoogle {
    text-align: center;
}

.hero-body {
    background-color: #f7f7f7 !important;
}
#floating-panel {
    position: absolute;
    border-top: 5px;
    left: 37%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#latlng {
    width: 225px;
}